@if (product()) {
  <section (click)="openPLP()" class="product-tile">
    <img [ngSrc]="product()?.thumb || 'assets/images/default-image.png'"
         [alt]="product()?.title"
         class="product-tile-image"
         height="200"
         width="300">
    <h3 class="product-tile-title">{{ product()?.title }}</h3>
    @if (product()?.description) {
      <p class="product-tile-description">{{ product()?.description }}</p>
    }
    @if (product()?.stolen_location) {
      <p class="product-tile-location">{{ product()?.stolen_location }}</p>
    }
  </section>
}
